#Titulo{
    color: #333; /* Cor do texto */
    font-family: Arial, sans-serif; /* Fonte do texto */
    font-size: 2em; /* Tamanho da fonte */
    text-align: center; /* Alinhamento do texto */
    text-transform: uppercase; /* Transforma o texto em caixa alta */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-top: 50px; /* Margem superior */

}